* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  position: relative;
  font-weight: bold;
  border: 1px solid #346659;
  color: white;
  background: #346659;
  padding: 10px;
}
a::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 1px;
  width: calc(100% - 20px);
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}

.right-bar {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.active {
  box-shadow: rgba(0,0,0,0.75) 1px 1px 1px 1px;
  color: #BCE8DC !important;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.btns >* {
  width: 100%;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
aside {
  width: 350px;
  background: #BCE8DC;
  padding: 20px;
  overflow-y: auto;
}
aside >*:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #346659;
}
aside >*:last-child {
  padding-top: 20px;
}
section {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section >div {
  width: 800px;
  position: relative;
}

input[type="button"] {
  background: #346659;
  color: white;
  border: 1px solid #51635E;
  padding: 10px;
  font-size: 1.4em;
}
input[type="number"] {
  background: #346659;
  color: white;
  border: 1px solid #51635E;
  padding: 10px;
  font-size: 1rem;
}


code {
  font-family: 'Dosis', sans-serif;
  background: #ccc;
  padding: 1px 3px;
}

button {
  margin: 0 auto 1em;
}

.container {
  border: 1px solid #51635E;
  background: #BCE8DC;
}
section>div:after {
  content: "----------------> MAIN AXIS ---------------->";
  position: absolute;
  left: 0;
  top: -30px;
  transform-origin: left top;
}
section>div:before {

  content: "----------------> CROSS AXIS ---------------->";
  position: absolute;
  transform: rotate(90deg);
  left: 0;
  top: 0;
  transform-origin: left top;
}


.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

label {
  margin-right: 1.3em;
  padding: 8px;
}

.item {
  background: #5AB099;
  border: solid 1px #51635E;
  margin: 5px;
  text-align: center;
  font-size: 4em;
  color: white;
  font-weight: bold;
  line-height: 1.4;
  /*min-width: 15%;*/
}

input[type="button"] {
  cursor: pointer;
}

ul {
  list-style-type: "→";
}
ul li {
  margin-bottom: 10px;
  padding-left: 5px;
}